<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Harakiri Rpg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/harakiri-theme.css" />
    <link rel="stylesheet" href="~/harakiri_rpg.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-header-ct border-bottom-ct">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light
             box-shadow">
            <div class="container d-flex justify-content-center mt-1">
                <a class="title-color text-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <h2>Harakiri</h2>
                </a>
            </div>
        </nav>
    </header>
    <!-- Conteúdo Principal

    <!-- Botão do Menu Hambúrguer -->
    <div id="menu-btn" class="title-color" onclick="toggleSidebar()">&#9776;</div>

    <!-- Menu Lateral -->
    <div id="sidebar">
        <a href="javascript:void(0)" onclick="toggleSidebar()" class="text-end text-light p-2">&times;</a>
        <a asp-controller="Missions" asp-action="Index">Ver Missões</a>
        <a asp-controller="Profile" asp-action="Index">Perfil</a>
        <a asp-controller="Cadastro" asp-action="Index">Cadastrar</a>
        <a asp-controller="CriacaoChar" asp-action="Index">Criar Personagem</a>
        <!-- Adicione mais links aqui -->
    </div>
    <!-- Menu Lateral FIM -->
    <div class="container">
        <main role="main" class="">
            <br />
            @RenderBody()
        </main>
        <br />
            <hr />
        <div class="container mb-1">
            <p class="text-center mb-1">&copy; @DateTime.Now.Year harakiri rpg</p>
        </div>
        <br />
    </div>

    <!--Scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            const mainContent = document.getElementById("main-content");

            // Alterna a classe expanded
            sidebar.classList.toggle("expanded");

            // Ajusta o conteúdo principal quando o menu está expandido
            if (sidebar.classList.contains("expanded")) {
                mainContent.style.marginLeft = "250px";
            } else {
                mainContent.style.marginLeft = "0";
            }
        }
    </script>
    <!--Scripts FIM -->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
