@model ninja_br_rpg_MVC.Models.Pages.Login.LoginViewModel;

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="nm_email"></label>
        <input asp-for="nm_email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="nm_senha"></label>
        <input asp-for="nm_senha" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="lembrar" /> Lembrar-me
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
