<h2>Bem-vindo à sua área inicial</h2>

<p>Aqui você verá o resumo do seu personagem, missões, e status.</p>

<a asp-controller="Missions" asp-action="Index" class="btn btn-primary">Ver Missões</a>
<a asp-controller="Profile" asp-action="Index" class="btn btn-secondary">Perfil</a>
<a asp-controller="Cadastro" asp-action="Index" class="btn btn-secondary">Cadastrar</a>
