/* Sufixo ct significa Custom */

/* Fundo principal do site */
.bg-main-ct {
    background-color: #070223; /* Fundo escuro */
    color: #dcddde;
}

.bg-header-ct {
    background-color: #1F1C40 !important;
    color: #7939E1;
}

/* Card de formulário */
.card-ct {
    background-color: #1F1C40; /* Cinza escuro */
    color: #FFFFFF;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Campos de entrada */
.form-control {
    background-color: #1F1C40; /* Cor de fundo dos campos */
    color: #FFFFFF; /* Cor do texto */
    border: 1px solid #444; /* Cor da borda */
    border-radius: 4px;
}

    /* Remover o efeito branco ao focar no campo */
    .form-control:focus {
        background-color: #1F1C40; /* Manter a mesma cor ao focar */
        color: #FFFFFF;
        outline: none;
        border-color: #5865f2; /* Cor da borda para foco */
    }

/* Botão roxo estilo harakiri */
.btn-primary {
    background-color: #5865f2;
    border-color: #5865f2;
}

    .btn-primary:hover {
        background-color: #4752C4; /* Tom mais escuro para o hover */
    }

.btn-success {
    background-color: #00ff6f;
/*    color: #E4F7EE;*/
    /*    background-color: #1BB76E;*/
    /*    background-color: #A6FF00;*/
        color: #4C4B76;
}

/* Estilos dos inputs */
.bg-input-ct {
    background-color: #1F1C40; /* Cinza mais escuro */
    border: 1px solid #4f545c;
    color: #dcddde;
    border-color: #4C4B76;
}

/* Links com azul claro */
.link-harakiri {
    color: #00b0f4;
    text-decoration: none;
}

    .link-harakiri:hover {
        color: #00b0f4;
        text-decoration: underline;
    }

.text-sucess {
    color: #A6FF00;
}

.title-color {
    color: #98a1ff !important;
    text-decoration:none !important; 
}

.border-bottom-ct {
    border-bottom: 1px solid #302f5d !important;
}

.border-left-ct {
    border-left: 1px solid #302f5d !important;
}

.title-primary {
    color: #4752C4;
}

.container-ct {
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}