html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    /*    position: relative;*/
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C2E32 !important;
    color: #7939E1;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #070223; /* Roxo escuro para o fundo */
    color: #d4d4d4; /* Cinza claro para o texto */
    height: 100vh;
}

main {
    height: 90vh;
}

.centralize {
    /*min-height: 50vh;*/ /* Garante altura mínima */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    /*    background-color: #2C2E32;*/
    color: #7939E1;
    text-align: center;
    padding: 10px 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Estilo do Menu Lateral */
/* Menu lateral estilo padrão */
#sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1F1C40;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
/*    border-left: 1px solid #302f5d !important;*/
}

    #sidebar a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 18px;
        color: #ddd;
        display: block;
        transition: 0.3s;
    }

        #sidebar a:hover {
            color: #fff;
        }

/* Esconde o menu lateral no mobile */
@media (max-width: 768px) {
    #sidebar {
        width: 0;
        overflow-y: hidden;
    }

        #sidebar.expanded {
            width: 200px;
        }

    #menu-btn {
        display: block;
    }
}

/* Botão do Menu Hambúrguer */
#menu-btn {
    font-size: 30px;
    color: #1c1e21;
    position: absolute;
/*    top: 15px;*/
    left: 20px;
    cursor: pointer;
    z-index: 1100;
    display: none; /* Esconde no desktop */
}

/* Ajuste para o conteúdo principal */
#main-content {
    margin-left: 250px; /* Ajuste de margem para o menu lateral no desktop */
    transition: margin-left 0.5s;
}

/* Modo mobile ajusta margem */
@media (max-width: 768px) {
    #main-content {
        margin-left: 0;
    }
}

/* Estilo do Menu Lateral FIM */
